<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djpt.qj.mapper.DjfzMapper">
    <select id="selectId"  parameterType="java.util.Date" resultType="com.djpt.qj.entity.Djfz"  >
        select * from djfz where id=#{id}
    </select>
</mapper>